* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', serif;
}

.del img {
    width: 24px;
    height: 20px;
    object-fit: cover;
    margin: -4px;
    filter: invert(22%) sepia(94%) saturate(7268%) hue-rotate(1deg) brightness(95%) contrast(105%);
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg, #0a0a0a, #3a4452);
}

.calculator {
    border: 1px solid #717377;
    padding: 20px;
    border-radius: 16px;
    background-color: transparent;
    box-shadow: 0px 3px 15px rgba(113, 115, 119, 0.5);
    width: 100%;
    max-width: 400px;
    box-sizing: border-box;
}

.all {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

input {
    width: 100%;
    border: none;
    padding: 23px;
    margin: 10px;
    background-color: transparent;
    box-shadow: 0px 3px 15px rgba(84, 84, 84, 0.1);
    font-size: 40px;
    text-align: right;
    color: #ffffff;
}

input::placeholder {
    color: #ffffff;
}

button {
    border: none;
    width: 60px;
    height: 60px;
    margin: 10px;
    border-radius: 50%;
    background-color: transparent;
    color: #ffffff;
    font-size: 20px;
    box-shadow: -8px -8px 15px rgba(225, 255, 255, 0.1);
    cursor: pointer;
}

.equalBtn {
    background-color: #fb7c14;
}

.oparator {
    color: #6dee0a;
}

.ac {
    color: red;
}

button:hover {
    background-color: rgba(0, 0, 0, 0.397);
}

button:active {
    background-color: rgba(255, 255, 255, 0.397);
}

@media screen and (max-width: 600px) {
    .calculator {
        padding: 10px;
        width: 90%;
        
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    input {
        font-size: 32px;
    }

    button {
        width: 50px;
        height: 50px;
        font-size: 18px;
        margin: 8px;
    }

    .equalBtn {
        font-size: 18px;
    }
}

@media screen and (max-width: 400px) {
    .calculator {
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    input {
        font-size: 28px;
    }

    button {
        width: 45px;
        height: 45px;
        font-size: 16px;
        margin: 6px;
    }
}